@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::root {
  --primary-color: #058aff;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif !important;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

.transition-fade {
  opacity: 1;
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.files-container {
  height: calc(100vh - 2rem);
  width: calc(100% - 360px);
  border-top-left-radius: 40px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 16px;
}

@media screen and (max-width: 1024px) {
  .files-container {
    width: calc(100% - 1.5rem);
    height: calc(100vh - 5rem);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
    center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.ripple.default-ripple:hover {
  background: #e8e8e8 radial-gradient(circle, transparent 1%, #e8e8e8 1%)
    center/15000%;
}

.ripple.default-ripple:active {
  background-color: #d6d9d9;
  background-size: 100%;
  transition: background 0s;
}

.abcRioButton.abcRioButtonBlue {
  margin: 0 auto !important;
}

.files-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00b4d8;
  border-radius: 10px;
}

.files-container::-webkit-scrollbar {
  width: 10px;
  background-color: #00b4d8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.files-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00b4d8;
}
